<html lang="pt-br">

<head>
	<title>NOTICIA 1</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../css/estilos.css">
    
</head>

<body>

    <h1>Ana news</h1>
    <h3>Nada além da verdade</h3>
    <hr>
	<h2>NOTICIA 1</h2>
	<p class="paragrafo"> "Rapunzel vive numa imensa torre, prisioneira do mundo, por uma bruxa malvada. 
	O cabelo da menina nunca é cortado e é conservado como uma gigantesca trança. 
	Um dia, um príncipe passando pelo local, ouve Rapunzel cantando, e decide salvá-la das garras da bruxa.
	Ao enfrentar a vilã, é castigado com uma cegueira total."</p>

	   <img class="imagem" src="../imagens/imagem.jpg" width ="250">
	   

	
	
	<hr>
	<p class="dev-texto">Desenvolvido por Ana Lívia</p>

</body>
</html>